/* Global rules */

@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html {
    background-image: url(../images/background.jpg);
    background-size: contain;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
}

::selection {
    color: #000; 
    background: rgb(127, 153, 209);
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    font-size: 3.5em;
    margin: auto;
    background: #47597e;
    line-height: 2.5em;
    
}

main.wrapper {
    background-color: #c9d7f5;
    overflow: auto;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin: 1em; /* Top Right Bottom Left (TRBL) */
}

h2,h3 {
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 35px;
    margin-left: 1em;
    line-height: 1em;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    background-color: rgb(20, 23, 49);
    text-decoration: none;
}

footer {
    clear: both;
    text-align: center;
    padding: 1em;
    background: #65789e;
}

.p-text {
    font-family: 'Poiret One', cursive;
    color: black;
    word-wrap:normal;
    margin-right: 20px;
    margin-left: 20px;
}

/* Responsive rules */

/* DESKTOP */
@media all and (min-width:1200px) {
    main.wrapper {
        width: 80%;
        margin: auto;
    }
    
    h1 {
        width: 79%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: left;
        margin-right: 2em;
    }
    
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    main.wrapper {
        width: 90%;
        margin: auto;
    }
    
    h1 {
        width: 89%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: right;
        margin-left: 1em;
    }

}

/* PHONE */
@media all and (max-width:500px) {
    main.wrapper {
        width: 100%;
    }
    
    h1 {
        width: 99%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 100%;
    }
    
}